* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    margin: 20px 0;
}

#nameProduct, #amountProduct {
    display: inline-block;
    margin-top: 20px;
}

#amountProduct {
    float: right;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
    border: 1px solid black;
    width: 33.33%;
    height: 50px;
}

button {
    width: 100px;
}
